.dropbtn {
  background-color: #04AA6D;
  color: white;

  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 99%;
  height: 40px;
  margin-left: 0.5%;
  margin-top: 1%;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}
.b-ody{
	width: 70%;position: relative;height: 100%;float: left;margin-left: 2.5%;background: #ddd;border-radius: 8px;
}
.dropdown-search {
  position: fixed;
  right: 1%;
  top: 1%;
  z-index: 101;
  width: 25%;
  height: 240px;
  height: auto;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-content-search {
  
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
  
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-search a {
  color: black;
  padding: 20px 22px;
  text-decoration: none;
  display: block;
}

.dropdown-content-search a:hover {background-color: #f1f1f1}

.show {display:block;}
.bookmark{
	position: relative;
}
.bookmarks{
	display: none;
	position: absolute;
	z-index: 202;
	left: 0;
	top: 100%;
	max-height: 400px;
	overflow: auto;
	background-color: #f6f6f6;
  	width: 100%;
  	border: 1px solid #ddd;
}
.bookmarks a {
  color: black;
  padding: 15px 19px;
  text-decoration: none;
  display: block;
}
.bookmarks a:hover {background-color: #f1f1f1}
.bookmark:hover .bookmarks{display: block;}
#back{color: black;}
#back:hover{
	color: yellow;
	text-decoration: underline;
}
.bet-odds{
	position: absolute;bottom: 1%;width: 100%;
	left: 0;float: left;text-align: center;
	height: 40%;
	
}
.b-odds{
	position: relative;
	height: 100%;
	display: inline-block;
	width: 27%;
	margin-left: 3.5%;
	float: left;
	text-align: left;
}
.odd-mkt{
	position: absolute;
	bottom: 0;
	left: 0;	
	text-align: center;

}
.b-odds button{
	position: absolute;
	top: 0;
	display: inline;
	width: 99%;
	border:none;
	border-radius: 5px;
	
	height: 80%;
	cursor: pointer;
}
.b-odds button:hover{
	background: #111;
	color: white;
}
.odds{
	width: 100%;
	height: 35px;
}
.odds button{
	border:none;
	border-radius: 5px;
	cursor: pointer;
	width: 27%;
	margin-left: 2%;
	height: 99%;
}
.odds button:hover{
	background: #111;
	color: white;
}
@media only screen and (max-width: 800px) {
	.b-ody{
		margin-left: 0;
		width: 100%;
	}
	.dropdown-search {
		display: none;
	}
	.results{
	}
}
.results{
	width: 25%;
	position: absolute;
	right: 1%;
	top: 260px;
	z-index: 5;
	height: 430px;
	border-radius: 10px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	color: black;
	 resize: both;
	overflow: auto;
}
#mydivheader {
  padding: 12px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
.combinations{
	width: 100%;
	height: 70%;
	max-height: 70%;	
	overflow: auto;
	position: relative;
	
	color: black;
}
.bets{
	position: relative;
	left: 0;
	width: 75%;
	height: 38px;
	color; black;
}
.bets button{
	display: inline;
	width: 20%;
	border:none;
	border-radius: 5px;
	margin-left: 2%;
	height: 80%;
	cursor: pointer;
	overflow: hidden;
}
.res{
	color: black;
	position: absolute;
	left: 100%;
	top: 0%;
	width: 15%;
	text-align: center;
	height: 38px;
}
.per{
	position: absolute;
	right: 0;
	top: 0
	height: 38px;
	text-align: right;
}
#snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px;
  position: fixed; 
  z-index: 200; 
  left: 50%; 
  bottom: 30px; 
}

#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}