.dropbtn {
  background-color: #04AA6D;
  color: white;

  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown-search {
  float: left;
  position: relative;
  margin-left: 150px;
  margin-top: 18px;
  display: inline-block;
}

.dropdown-content-search {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-search a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-search a:hover {background-color: #f1f1f1}

.show {display:block;}
.bookmark{
	position: relative;
}
.bookmark .bookmarks{
	display: none;
	position: absolute;
	z-index: 2;
	left: 100%;
	top: 100%;
	margin-top: -50px;
	background-color: #f6f6f6;
  	min-width: 230px;
  	border: 1px solid #ddd;
}
.bookmarks a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.bookmarks a:hover {background-color: #f1f1f1}
.bookmark:hover .bookmarks{display: block;}
#back{color: black;}
#back:hover{
	color: yellow;
	text-decoration: underline;
}
.bet-odds{
	position: absolute;bottom: 1%;width: 100%;
	left: 0;float: left;text-align: center;
	height: 40%;
	
}
.b-odds{
	position: relative;
	height: 100%;
	display: inline-block;
	width: 27%;
	margin-left: 3.5%;
	float: left;
	text-align: left;
}
.odd-mkt{
	position: absolute;
	bottom: 0;
	left: 0;	
	text-align: center;

}
.b-odds button{
	position: absolute;
	top: 0;
	display: inline;
	width: 99%;
	border:none;
	border-radius: 5px;
	
	height: 80%;
	cursor: pointer;
}
.b-odds button:hover{
	background: #111;
	color: white;
}
.odds{
	width: 100%;
	height: 35px;
}
.odds button{
	border:none;
	border-radius: 5px;
	cursor: pointer;
	width: 27%;
	margin-left: 2%;
	height: 99%;
}
.odds button:hover{
	background: #111;
	color: white;
}