
.top-nav{
	position: relative;
	width: 100%;
	background: black;
	color: white;
	font-size: 14px;
	border-radius: 10px;
	height: 150px;
}
.top-nav-a{
	position: absolute;
	top: 0;
	margin-top: -70px;
	width: 100%;
	height: 70px;
	
}
.top-nav-b{
	position:absolute;
	left: 0;
	
	margin-top: 70px;
	width: 100%;
	height: 80px;
	background: white;
	overflow-x: auto;
	overflow-y: hidden;
	color: black;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dropbtn {
  background-color: #04AA6D;
  color: white;

  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 99%;
  height: 40px;
  margin-left: 0.5%;
  margin-top: 1%;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}
.b-ody{
	margin-top: 5%;
	width: 50%;position: relative;height: 100%;float: left;margin-left: 20%;background: #ddd;border-radius: 8px;
}
.dropdown-search {
  position: fixed;
  right: 1%;
  top: 10%;
  z-index: 101;
  width: 25%;
  height: 240px;
  height: auto;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-content-search {
  
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
  
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-search a {
  color: black;
  padding: 20px 22px;
  text-decoration: none;
  display: block;
}

.dropdown-content-search a:hover {background-color: #f1f1f1}

.show {display:block;}
.login-content{
	float: right;
	margin-top: 15px;
}
.login-content a{
	display: inline;
	margin-right: 12px;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 12px;
	text-decoration: none;
	color:yellow;
}
.bookmark{
	position: relative;
}
.bookmarks{
	display: none;
	position: absolute;
	z-index: 202;
	left: 0;
	top: 100%;
	max-height: 400px;
	overflow: auto;
	background-color: #f6f6f6;
  	width: 100%;
  	border: 1px solid #ddd;
}
.bookmarks a {
  color: black;
  padding: 15px 19px;
  text-decoration: none;
  display: block;
}
.bookmarks a:hover {background-color: #f1f1f1}

#back{color: black;}
#back:hover{
	color: yellow;
	text-decoration: underline;
}
.bet-odds{
	position: absolute;bottom: 1%;width: 100%;
	left: 0;float: left;text-align: center;
	height: 40%;
	
}
.b-odds{
	position: relative;
	height: 100%;
	display: inline-block;
	width: 27%;
	margin-left: 3.5%;
	float: left;
	text-align: left;
}
.odd-mkt{
	position: absolute;
	top: 20%;
		
	text-align: center;

}
.b-odds button{
	position: absolute;
	top: 0;
	display: inline;
	width: 99%;
	border:none;
	border-radius: 5px;
	
	height: 80%;
	cursor: pointer;
}
.b-odds button:hover{
	background: #111;
	color: white;
}
.odds{
	width: 100%;
	height: 35px;
}
.odds button{
	border:none;
	border-radius: 5px;
	cursor: pointer;
	width: 27%;
	margin-left: 2%;
	height: 99%;
}
.odds button:hover{
	background: #111;
	color: white;
}
.best-results{
	
	width: 25%;
	position: fixed;
	right: 1%;
	bottom: 1%;
	z-index: 5;
	height: 430px;
	border-radius: 10px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	color: black;
	overflow: auto;
}
.results{
	display: none;
	width: 30%;
	position: fixed;
	left: 30%;
	top: 15%;
	z-index: 199;
	height: 500px;
	border-radius: 10px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	color: black;
	 resize: both;
	overflow: auto;
}
#mydivheader {
  padding: 12px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
.combinations{
	width: 100%;
	height: 70%;
	max-height: 70%;	
	overflow: auto;
	position: relative;
	
	color: black;
}
.bets{
	position: relative;
	left: 0;
	width: 75%;
	height: 38px;
	color; black;
}
.bets button{
	display: inline;
	width: 20%;
	border:none;
	border-radius: 5px;
	margin-left: 2%;
	height: 80%;
	cursor: pointer;
	overflow: hidden;
}
.res{
	color: black;
	position: absolute;
	left: 100%;
	top: 0%;
	width: 15%;
	text-align: center;
	height: 38px;
}
.per{
	position: absolute;
	right: 0;
	top: 0
	height: 38px;
	text-align: right;
}
#snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px;
  position: fixed; 
  z-index: 200; 
  left: 50%; 
  bottom: 30px; 
}

#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.left-nav{
	position: fixed;
	top: 10%;
	left: 1%;
	width: 18%;
	height: 90%;
	overflow-y: auto;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	color: black;
	z-index: 1;
}
#left-search{
	box-sizing: border-box;
	  background-image: url('searchicon.png');
	  background-position: 14px 12px;
	  background-repeat: no-repeat;
	  font-size: 16px;
	  width: 99%;
	  height: 35px;
	  margin-left: 0.5%;
	  margin-top: 5%;
	  border-radius: 10px;
	  border: none;
	  border-bottom: 1px solid #ddd;
}
.leagues{
	width: 100%;
	margin-top: 5%;
	font-size: 16px;
}
.league-item{
	width: 95%;
	margin-left: 1.5%;
	min-height: 100px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 10px;
	overflow: hidden;
	height: auto;
}
.league-url{
	width: 100%;
	height: 25px;
	position: relative;
	cursor: pointer;
	display: block;
	margin-bottom: 15px;
	text-decoration: none;
}
.league-url:hover{
	color: blue;
}
.league-url img{
	float: left;
	margin-left: 20px;
	width: 20px;
	height: 20px;
}
.league-title{
	margin-left: ;
	text-align: left;	
}



.t-ody{
	position: fixed;
	width: 100%;
	height: 10%;
	left: 0;
	top: 0;z-index: 300;
	background: black;
	color: white;
}

.r-b{
	float: right;
	margin-top: 18px;
	margin-right: 15px;
	
}
.time-now{
	text-align: center;
	width: 100px;
	height: 35px;
	border-radius: 20px;
	background: #ddd;
}
.book-makers{
	background: #ddd;
	color: black;
	width: 150px;
	height: 35px;
	border-radius: 9px;
	position: relative;
	margin-top: ;
}
.book-makers a{
	width: 100%;
	height: 100%;
}
.h-ome{
	
	background: #ddd;
	color: black;
	width: 80px;
	height: 35px;
	
}
.l{
	position: absolute;
	top: 0;
	height: 100%;
  	text-align: baseline;
}

.l div{
	margin-left: 10px;
	display: inline-block;
	margin-top: 15px;
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
}
.l div a{
	text-decoration: none;
	
}
.h-ome a{
	margin-top: 15px;
	
}
.by-time{
	width: 100px;
	height: 35px;
	background: #ddd;
	color: black;
	
}
.by-cal{
	width: 100px;
	height: 35px;
	background: #ddd;
	color: black;
	position: relative;
}
.by-cal a{
	width: 100%;
	height: 100%;
}
.active{
	background: black;
	color: white;
}
.drop-up{
	position: fixed;
	z-index: 50;
	
	
	width: 250px;
	height: 350px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 20px;
	
}
.drop-btm{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	font-size: 18px;
	color: blue;
}
.cal{
	position: absolute;
	z-index: 500;
	left: 0;
	top: 100%;
	overflow: auto;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 20px;
	height: 250px;
	width: 250px;
	
	
}
.cal p{
	font-size: 17px;
}
.cal input{
	padding: 12px;
	border-radius: 10px;

}
#search-books{
	width: 90%;
	margin-left: 5%;
	height: 30px;
	border-radius: 20px;
	margin-top: 15px;
	text-align: center;
}
.drop-list{
	width: 100%;
	height: 70%;
	overflow: auto;
}
.drop-list button{
	color: black;
	border: none;
	cursor: pointer;
	width: 40%;
	height: 15%;
	margin-bottom: 6px;
}
.drop-list button:hover{
	color: blue;
}
#book-filter{
	position: absolute;
	bottom:0;
	left: 55px;
	color: yellow;
	font-size: 16px;
}
.main-body{

	margin-top: 150px;
	margin-left: 20%;
	background: #ddd;
	width: 50%;
	
	min-height: 600px;
	height: auto;
}
.match-box{
        margin-bottom: 50px;
	width: 95%;
	margin-left: 2.5%;
	margin-top: 15px;
	min-height: 120px;
	border-radius: 10px;
	background: white;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}	
.match-box a{
	text-decoration: none;
	
}
.match-l{
	position: absolute;
	left: 1%;
	height: 100%;
	width: 49%;
}
.match-r{
	position: absolute;
	right: 1%;
	top: 0;
	width: 49%;
	height: 100%;
	z-index: 2;
}
.match-r div{
	display: inline-block;
	margin-right: 10px;
}
.matchodd{
	width: 25%;
	height: 90%;
	margin-top: 1.5%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.odd-mkt{
	position: absolute;
	top: 70%;
	overflow: hidden;
	justify-content: center;
	width: 95%;
	margin-left: 2.5%;
	left: 0;
	height: 30px;
	z-index: 4;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.go-calc{
	position: absolute;	
	top:100%;
	left: 0;
	width: 100%;
	height:35px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	background: blue;
	color:white;
	text-align: left;
	border-radius: 10px;
}
.go-calc button{
		height:100%;
		width: 25%px;
		border-radius:10px;
		cursor: pointer;
		
	}
@media only screen and (max-width: 800px) {
	.best-results{display:none;}
	.b-ody{
		margin-left: 0;
		margin-top: 10%;
		width: 100%;
	}
	.dropdown-search {
		display: none;
	}
	.results{
		display: none;
	}
	.left-nav{
		display: none;
}
	.main-body{
		margin-left: 0;
		width: 100%;
	}
}