
<h5>Markets</h5>
<table style="width: 100%;">
<tr>
<th class="mkt">Market</th>
<th class="odds">Odds</th>
</tr>
<tr>
<td class="mkt"></td>
<td class="odds">
<button>1</button>
<button>X</button>
<button>2</button>
</td>
</tr>
{%if n != 0%}
	{%for market in markets%}
			<tr>
			{%set mkt=market[12].split("-")%}
			<td class="mkt">{{mkt[0]}}</td>
			<td class="odds" id="{{market[10]}}">
			
			{%if market[6] == best_home|string%}
			<button class="active" onclick="selectB(this, this.parentElement.id)">
			{%else%}<button  onclick="selectB(this, this.parentElement.id)">
			{%endif%} <i class="fa fa-caret-up" aria-hidden="true" style="display: none;"></i> {{market[6]}}</button>
			{%if market[7] == best_draw|string%}
				<button class="active" onclick="selectB(this, this.parentElement.id)">
			{%else%}<button  onclick="selectB(this, this.parentElement.id)">
			{%endif%}  <i class="fa fa-caret-up" aria-hidden="true" style="display: none;"></i> {{market[7]}}</button>
			{%if market[8] == best_away|string%}
				<button class="active" onclick="selectB(this, this.parentElement.id)">
			{%else%}<button  onclick="selectB(this, this.parentElement.id)">
			{%endif%} <i class="fa fa-caret-up" aria-hidden="true" style="display: none;"></i> {{market[8]}}</button>
			
			</td>
			</tr>
			{%endfor%}
			{%for market in other_markets%}
			<tr>
			{%set mkt=market[2]%}
			<td class="mkt">{{mkt}}</td>
			<td class="odds" id="{{market[8]}}">
			{%if market[3] == best_home|string%}
				<button class="active" onclick="selectB(this, this.parentElement.id)">
			{%else%}<button  onclick="selectB(this, this.parentElement.id)">
			{%endif%} <i class="fa fa-caret-up" aria-hidden="true" style="display: none;"></i> {{market[3]}}</button>
			{%if market[4] == best_draw|string%}
				<button class="active" onclick="selectB(this, this.parentElement.id)">
			{%else%}<button  onclick="selectB(this, this.parentElement.id)">
			{%endif%}  <i class="fa fa-caret-up" aria-hidden="true" style="display: none;"></i> {{market[4]}}</button>
			{%if market[5] == best_away|string%}
				<button class="active" onclick="selectB(this, this.parentElement.id)">
			{%else%}<button  onclick="selectB(this, this.parentElement.id)">
			{%endif%} <i class="fa fa-caret-up" aria-hidden="true" style="display: none;"></i> {{market[5]}}</button>
			
			</td>
			</tr>
			{%endfor%}

{%else%}
	
	
<tr><td>No Data Available</td></tr>
{%endif%}
</table>

<script>

</script>
<div class="results">
<center><h4>Combinations<select style="float: right;" onchange="loadCombination(this.value)"><option value="~">Inverse</option><option value="%">Percentage</option></select></h4></center>
<div id="combinations" class="combinations" style="width: 100%;">
<div class="bets">Odds</div><div class="res">Output</div>
{%if session.get('user') != None%}{%if n == 0%}<div ><center><h6>Select a match to view possible Combinations</h6></center></div>{%endif%}
<div id="comb-load">{{cm|safe}}</div>
{%else%}<div ><center><h6>Login to view combination results</h6></center></div>{%endif%}</div>

</div>
</div>
<script>
function loadCombination(val){
	var x= document.getElementById("comb-load");
	console.log(val)
	if(val == "~"){
		x.innerHTML= "{{cm|safe}}";
	}else{		
		x.innerHTML= "{{cm_p|safe}}";
	}
}
</script>