

<div class="left-nav">

<div class="leagues">
Popular Leagues
<div class="league-item">
<h4>Football</h4>
{%for league in leagues%}
<a class="league-url" onclick="filterLeague('{{league[4]}}')">
{%set lurl = league[3]%}
<img src="{{url_for('static', filename=lurl)}}"></img>
<span class="league-title">{{league[1]}}</span>
</a>
{%endfor%}
</div>
</div>

<br>

<div class="leagues">
Top Bookmakers({{session["country"]}})
<div class="league-item">
{%for book in bookmarks%}
<a class="league-url" onclick="searchBook(this.title)" title="{{book}}"><span class="league-title">{{book}}</span></a>
{%endfor%}

</div>
</div>
<br>
<div class="legues">
Countries
<div class="league-item">
</div>
</div>


</div>

<div id="snackbar"></div>

<div class="dropdown-search">
  <div id="myDropdown" class="dropdown-content-search">
    <form method="GET" action="/">
	<input type="text" id="myInput" placeholder="search leagues and events" name="league">
	</form>
    <a href="javascript:void(0)" onclick="searchQuery('matches')">Search for Matches</a>
    <a href="javascript:void(0)" onclick="searchQuery('leagues')">Search for Leagues</a>
    <div class="bookmark">
    <a href="javascript:void(0)" onclick="showBookmakers()">Search in bookmark <i class="fa fa-caret-down" aria-hidden="true" style="float: right;margin-right: 10px;"></i></a>
    <div class="bookmarks" id="bookmarks">
		<a href="javascript:void(0)" onclick="searchBook('paripesa.ng')">Paripesa</a>
    		<a href="javascript:void(0)" onclick="searchBook('betbonanza.com')">Bet Bonanza</a>
		<a href="javascript:void(0)" onclick="searchBook('sportybet.com')">Sporty Bet</a>
		<a href="javascript:void(0)" onclick="searchBook('suprabets.com')">Supra Bet</a>
		<a href="javascript:void(0)" onclick="searchBook('dafabet.com')">Dafa Bet</a>
		<a href="javascript:void(0)" onclick="searchBook('unibet.com')">UniBet</a>
		<a href="javascript:void(0)" onclick="searchBook('betsafe.com')">BetSafe</a>
		<a href="javascript:void(0)" onclick="searchBook('betking.com')">BetKing</a>
		<a href="javascript:void(0)" onclick="searchBook('1xbit.com')">1xbit</a>
		<a href="javascript:void(0)" onclick="searchBook('1xbet.com')">1xbet</a>
		<a href="javascript:void(0)" onclick="searchBook('mozzart.com')">Mozzartbet</a>
		<a href="javascript:void(0)" onclick="searchBook('22bet.com')">22bet</a>
		<a href="javascript:void(0)" onclick="searchBook('betwinner.com')">Betwinner</a>
		<a href="javascript:void(0)" onclick="searchBook('betika.com')">Betika</a>
		<a href="javascript:void(0)" onclick="searchBook('888bet.com')">888bet</a>
		<a href="javascript:void(0)" onclick="searchBook('bet365.com')">Bet365</a>
		<a href="javascript:void(0)" onclick="searchBook('betway.com')">Betway</a>
		<a href="javascript:void(0)" onclick="searchBook('bet9ja.com')">Bet9ja</a>
		<a href="javascript:void(0)" onclick="searchBook('wazobet.com')">Wazobet</a>
		<a href="javascript:void(0)" onclick="searchBook('yangasport.com')">YangaSport</a>
		<a href="javascript:void(0)" onclick="searchBook('wazobet.com')">Melbet</a>
		<a href="javascript:void(0)" onclick="searchBook('accessbet.com')">Accessbet</a>
		<a href="javascript:void(0)" onclick="searchBook('chezacash.com')">Chezacash</a>
		<a href="javascript:void(0)" onclick="searchBook('10x10bet.com')">10x10bet</a>
		
		<a href="javascript:void(0)" onclick="searchBookmark('bet-at-home')">Bet-at-home</a>
		<a href="javascript:void(0)" onclick="searchBookmark('williamhill')">Williamhill</a>
		<a href="javascript:void(0)" onclick="searchBookmark('pinnacle')">Pinnacle</a>
		<a href="javascript:void(0)" onclick="searchBookmark('alphabet')">Alphabet</a>
     </div>
     </div>
</div>
</div>
<div class="top-nav-a">
	<h2 style="position: absolute;left: 2%;color: yellow;"><i class="fa fa-futbol-o" aria-hidden="true"></i> Football</h2>
	
	
	
</div>
<div class="top-nav-b">
<div class="l">
<div class="h-ome" onclick="location.href='{{url_for('land',md=session["country"])}}'">
<a href="{{url_for('land',md=session["country"])}}?page=1"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
<div class="book-makers" id="bookm-makers" onclick="makeActive(this, 'book-makers')">
<a href="javascript:void(0)" onclick="makeActive(this.parentElement, 'book-makers')"><i class="fa fa-futbol-o" aria-hidden="true"></i> Bookmakers <i class="fa fa-caret-down" aria-hidden="true"></i>
<span id="book-filter"></span>
</a>

</div>
<div class="drop-up" id="book-makers" style="display: none;">
<a style="position:asolute;right:0;top: 0;cursor:pointer;color:red;" onclick="this.parentElement.style.display='none'"><i class="fa fa-times"></i></a>
<input id="search-books" placeholder="search country"  onkeyup="filterCountries()">
<div class="drop-list" id="book-list">
<button onclick="location.href='{{url_for("land",md="KE")}}'"><span>KE</span></button>
<button onclick="location.href='{{url_for("land",md="NG")}}'"><span>NG</span></button>
</div>
<div class="drop-btm">
<a href='{{url_for("land",md="AL")}}'>All bookmakers</a> 
</div>
</div>
<div class="by-time" onclick="" id="by-time">
<a href="?time" onclick="makeActive(this.parentElement, 'null')"><i class="fa fa-clock" aria-hidden="true"></i> By Time</a>
</div>
<div class="time-now"><i class="fa fa-clock" aria-hidden="true"></i> <span id="time-now"></span></div>
<div class="time-now"><a onclick="{% if session.get("user") == None%}alert('login to refresh reaults'){%else%}nextPage(){%endif%}"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a></div>
</div>

</div>
		
		<!------- 
		<button onclick="location.href='{{url_for("home")}}'">Home</button>
		<button onclick='alert("This section is coming soon")'>Best today</button>
		<select onchange="toBookmark(this.value)">
		<option value="null">BookMarks</option>
		<option value="paripesa.ng-football">Paripesa</option>
		<option value="betbonanza.com-football">BetBonanza</option>
		<option value="sportybet.com-football">SportyBet</option>
		<option value="suprabets.com">SupraBets</option>
		<option value="dafabet.com">Dafabet</option>
		<option value="unibet.com-football">Unibet</option>
		
		</select>
		->
<a id="back" onclick="history.go(-1)" style="float: left;cursor: pointer;margin-left: 1%;"><-Back</a>


<script>
$(document).ready(function{


})

</script>